<!--Filtrar Disponibilidad, precio, cantidad en stock-->
<div class="row">
    <div class="col-12 text-right">
        <mat-icon class="c-p align-self-end" data-toggle="modal" data-target=".modal-sm-config">filter_list</mat-icon>
    </div>
</div>

<div class="modal fade modal-sm-config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6  text-center">
                        <input type="number" class="form-control form-control-sm" id="min" placeholder="Min" [min]="0" [(ngModel)]="min">
                    </div>
                    <div class="form-group col-6 text-center">
                        <input type="number" class="form-control form-control-sm" id="max" placeholder="Max" [min]="min+1" [(ngModel)]="max">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio_options" id="radioSort" [value]="1" [(ngModel)]="mode" (ngModelChange)="filterMode()">
                                <label class="form-check-label f-90" for="radioSort">Ordenar</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="radio_options" id="radiofilter" [value]="2" [(ngModel)]="mode" (ngModelChange)="filterMode()">
                                <label class="form-check-label f-90" for="radiofilter">Filtrar</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="offset-2 col-10">
                                <input class="form-check-input" type="radio" name="radio_type" id="radioAvaible" [value]="1" [(ngModel)]="type" (ngModelChange)="filterMode()">
                                <label class="form-check-label f-90" for="radioSort">Disponibles</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-2 col-10">
                                <input class="form-check-input" type="radio" name="radio_type" id="radioPrice" [value]="2" [(ngModel)]="type" (ngModelChange)="filterMode()">
                                <label class="form-check-label f-90" for="radioSort">Precio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-10">
                                <input class="form-check-input" type="radio" name="radio_type" id="radioStock" [value]="3" [(ngModel)]="type" (ngModelChange)="filterMode()">
                                <label class="form-check-label f-90" for="radioSort">Cantidad</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Ordenar Disponibilidad, precio, cantidad en stock-->