.go-up {
    position: fixed;
    bottom: 70px;
    right: 70px;
    background: #343a40;
    color: white;
    border-radius: 50%;
    width: 37px;
    cursor: pointer;
    mat-icon {
        margin-top: 4px;
        margin-left: 7px;
    }
}