/* You can add global styles to this file, and also import other style files */

.c-p {
    cursor: pointer;
}

.f-100 {
    font-size: 1rem
}

.f-95 {
    font-size: .95rem
}

.f-90 {
    font-size: .90rem
}

.f-85 {
    font-size: .85rem
}