.available {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 17px solid #14b53e;
    border-top: 20px solid #14b53e;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
}